[Unit]
Description=GPIO shutdown button
DefaultDependencies=no
After=network.target
Before=final.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /usr/local/bin/shutdown_button.py

[Install]
WantedBy=multi-user.target
